WindowsFormsApplication1/WindowsFormsApplication1/Service References/RegistrationService/RegistrationServiceService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:ns2="https://www.mycas.org.uk/schemas/RegistrationTypes" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="https://www.mycas.org.uk/services/RegistrationService" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns3="https://www.mycas.org.uk/schemas/CommonTypes" xmlns:ns1="https://www.mycas.org.uk/services/QueryUCRNService" name="RegistrationServiceService" targetNamespace="https://www.mycas.org.uk/services/RegistrationService" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xs:schema xmlns:tns="https://www.mycas.org.uk/schemas/CommonTypes" targetNamespace="https://www.mycas.org.uk/schemas/CommonTypes" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:complexType name="CitizenDetails">
        <xs:sequence>
          <xs:element minOccurs="0" name="Name" type="tns:Name" />
          <xs:element minOccurs="0" name="Gender" type="xs:string" />
          <xs:element minOccurs="0" name="DateOfBirth" type="xs:dateTime" />
          <xs:element minOccurs="0" name="PlaceOfBirth" type="xs:string" />
          <xs:element minOccurs="0" name="MothersBirthSurname" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Name">
        <xs:sequence>
          <xs:element minOccurs="0" name="FirstName" type="xs:string" />
          <xs:element minOccurs="0" name="MiddleName" type="xs:string" />
          <xs:element minOccurs="0" name="LastName" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="UCRNType">
        <xs:simpleContent>
          <xs:extension base="xs:string">
            <xs:attribute name="UCRNType" type="xs:string" />
          </xs:extension>
        </xs:simpleContent>
      </xs:complexType>
      <xs:complexType name="Contact">
        <xs:sequence>
          <xs:element minOccurs="0" name="MobileNumber" type="xs:string" />
          <xs:element minOccurs="0" name="LandlineNumber" type="xs:string" />
          <xs:element minOccurs="0" name="EmailAddress" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="AddressInput">
        <xs:sequence>
          <xs:element minOccurs="0" name="AddressLine" type="tns:AddressLine" />
          <xs:element minOccurs="0" name="Town" type="xs:string" />
          <xs:element minOccurs="0" name="PostCode" type="xs:string" />
          <xs:element minOccurs="0" name="LACode" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="AddressLine">
        <xs:sequence>
          <xs:element minOccurs="0" name="AddressLine1" type="xs:string" />
          <xs:element minOccurs="0" name="AddressLine2" type="xs:string" />
          <xs:element minOccurs="0" name="AddressLine3" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="UPRNType">
        <xs:simpleContent>
          <xs:extension base="xs:string">
            <xs:attribute name="UPRNType" type="xs:string" />
          </xs:extension>
        </xs:simpleContent>
      </xs:complexType>
      <xs:complexType name="ResponseHead">
        <xs:sequence>
          <xs:element minOccurs="0" name="ResponseCode" type="xs:string" />
          <xs:element minOccurs="0" name="ResponseMessage" type="xs:string" />
          <xs:element name="Result" type="xs:boolean" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema xmlns:tns="https://www.mycas.org.uk/schemas/RegistrationTypes" xmlns:ns1="https://www.mycas.org.uk/schemas/CommonTypes" targetNamespace="https://www.mycas.org.uk/schemas/RegistrationTypes" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="https://www.mycas.org.uk/schemas/CommonTypes" />
      <xs:complexType name="RegistrationRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="RequestBody" type="tns:RequestBody" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="RequestBody">
        <xs:sequence>
          <xs:element minOccurs="0" name="CitizenDetails" type="ns1:CitizenDetails" />
          <xs:element minOccurs="0" name="UCRN" type="ns1:UCRNType" />
          <xs:element minOccurs="0" name="Contact" type="ns1:Contact" />
          <xs:element minOccurs="0" name="AddressInput" type="ns1:AddressInput" />
          <xs:element minOccurs="0" name="UPRN" type="ns1:UPRNType" />
          <xs:element minOccurs="0" name="Username" type="xs:string" />
          <xs:element name="Consent" type="xs:boolean" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="RegistrationResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="ResponseHead" type="ns1:ResponseHead" />
          <xs:element minOccurs="0" name="ResponseBody" type="tns:ResponseBody" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ResponseBody">
        <xs:sequence>
          <xs:element minOccurs="0" name="UCRN" type="ns1:UCRNType" />
          <xs:element minOccurs="0" name="UPRN" type="ns1:UPRNType" />
          <xs:element minOccurs="0" name="Username" type="xs:string" />
          <xs:element minOccurs="0" name="EmailAddress" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema xmlns:ns1="https://www.mycas.org.uk/schemas/RegistrationTypes" xmlns:ns2="https://www.mycas.org.uk/services/QueryUCRNService" targetNamespace="https://www.mycas.org.uk/services/RegistrationService" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="https://www.mycas.org.uk/schemas/RegistrationTypes" />
      <xs:import namespace="https://www.mycas.org.uk/services/QueryUCRNService" />
      <xs:element name="CallerToken" nillable="true" type="xs:string" />
      <xs:element name="Exception" nillable="true" type="ns2:Exception" />
      <xs:element name="addNewUser" type="tns:addNewUser" />
      <xs:element name="addNewUserResponse" type="tns:addNewUserResponse" />
      <xs:complexType name="addNewUser">
        <xs:sequence>
          <xs:element minOccurs="0" name="registrationRequest" type="ns1:RegistrationRequest" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="addNewUserResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="RegistrationResponse" type="ns1:RegistrationResponse" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema xmlns:tns="https://www.mycas.org.uk/services/QueryUCRNService" targetNamespace="https://www.mycas.org.uk/services/QueryUCRNService" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="Exception" type="tns:Exception" />
      <xs:complexType name="Exception">
        <xs:sequence>
          <xs:element minOccurs="0" name="message" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </types>
  <message name="RegistrationService_addNewUserResponse">
    <part name="addNewUserResponse" element="tns:addNewUserResponse" />
  </message>
  <message name="Exception">
    <part name="Exception" element="tns:Exception" />
  </message>
  <message name="RegistrationService_addNewUser">
    <part name="addNewUser" element="tns:addNewUser" />
    <part name="CallerToken" element="tns:CallerToken" />
  </message>
  <portType name="RegistrationService">
    <operation name="addNewUser" parameterOrder="addNewUser CallerToken">
      <input message="tns:RegistrationService_addNewUser" />
      <output message="tns:RegistrationService_addNewUserResponse" />
      <fault name="Exception" message="tns:Exception" />
    </operation>
  </portType>
  <binding name="RegistrationServiceBinding" type="tns:RegistrationService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/https" />
    <operation name="addNewUser">
      <soap:operation soapAction="https://www.mycas.org.uk/services/AddNewUser" />
      <input>
        <soap:body use="literal" parts="addNewUser" />
        <soap:header message="tns:RegistrationService_addNewUser" part="CallerToken" use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </fault>
    </operation>
  </binding>
  <service name="RegistrationServiceService">
    <port name="RegistrationServicePort" binding="tns:RegistrationServiceBinding">
      <soap:address location="https://213.128.252.7:8003/configESB/http/common/RegistrationService" />
    </port>
  </service>
</definitions>