WindowsFormsApplication1/SampleWebserviceClient/Service References/ServiceReference1/QueryUCRNService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="https://www.mycas.org.uk/schemas/QueryUCRNTypes" xmlns:ns1="https://www.mycas.org.uk/schemas/CommonTypes" targetNamespace="https://www.mycas.org.uk/schemas/QueryUCRNTypes" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://213.128.252.7:8003/configESB/http/common/QueryUCRNService?wsdl&amp;resource=file-892988148375356544.tmp&amp;protocol=http" namespace="https://www.mycas.org.uk/schemas/CommonTypes" />
  <xs:complexType name="QueryUCRNRequest">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="RequestBody" type="tns:RequestBody" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RequestBody">
    <xs:choice minOccurs="1" maxOccurs="1">
      <xs:element minOccurs="1" maxOccurs="1" name="CitizenDetails" type="ns1:CitizenDetails" />
      <xs:element minOccurs="1" maxOccurs="1" name="UCRN" type="ns1:UCRNType" />
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="QueryUCRNResponse">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="ResponseHead" type="ns1:ResponseHead" />
      <xs:element minOccurs="0" maxOccurs="1" name="ResponseBody" type="tns:ResponseBody" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ResponseBody">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="BasicCitizenDetails" type="ns1:BasicCitizenDetails" />
      <xs:element minOccurs="1" maxOccurs="1" name="UCRN" type="ns1:UCRNType" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>